@{
    ViewData["Title"] = "Contact";
}
<h2>Entre agora mesmo em contato com a loja</h2>

<address>
    Rodrigo Borges<br />
    <a href="mailto:rodrigocborges@outlook.com.br">rodrigocborges@outlook.com.br</a>
</address>
